
.bg-gray{
	background-color: #4f4f4f73;
}
.counter-item {
    background: #4f4f4f73;
    padding: 20px;
    text-align: center;
    padding-bottom: 0px;
}
p {
    color: gray;
}
.text-grey{
	color: gray !important;
}
.counter-item {
    background: #4f4f4f73;
    padding: 8px 17px 17px 8px;
    text-align: center;
    padding-bottom: 0px;
}

@font-face {
	font-family: 'FriendsFont';
	src: url("/Users/hupen/Desktop/NewAge/fonts/Friends-Black.ttf") format('truetype');
}
img.w-150 {
    width: 116%;
}
img.w-60 {
    width: 50px;
}


body {
    background-color: #1c1c1e;
    color: #fff;
    font-family: 'Genera', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
	overflow-x: hidden;
}
html,
body { height: 100% ;}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1d293e;
    font-family: 'FriendsFont', sans-serif; 
    font-weight: 700;
	margin-top: 0;
	margin-bottom: 15px;
	line-height: normal;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
a, a:hover {
    color: #1d293e;
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: none;
}

.counter-item.w-60 {
    width: 100px;
}


p { margin-bottom: 0px; }
ul,
li {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
/*START PRELOADER DESIGN*/

.preloader {
    background: #0A0A0F;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.status-mes {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 4px solid rgba(0, 0, 0, 0.08);
    border-right: 4px solid rgba(0, 0, 0, 0.08);
    border-bottom: 4px solid rgba(0, 0, 0, 0.08);
    border-left: 4px solid #5838FC;
    border-radius: 50%;
    -webkit-animation: spinner 600ms infinite linear;
    animation: spinner 600ms infinite linear;
    z-index: 10000;
}
.section-title.center.text-center {
    position: absolute;
    right: 38%;
    padding-top: 5%;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.no-padding { padding: 0 }
/*END PRELOADER DESIGN*/

/*START SCROLL TO TOP*/

#topcontrol {
	background-image: linear-gradient(25deg, #2904fa,#fd03e8);
	border-radius: 50%;
	bottom: 5px;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	height: 50px;
	line-height: 54px;
	opacity: 1;
	filter: alpha(opacity=100);
	padding: 0;
	position: fixed;
	right: 5px;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	width: 50px;
	text-align: center;
	z-index: 9;
}
.span{
	color:#dcb203;
}

#topcontrol:hover {
   background-image: linear-gradient(to right, #7202BB , #5838FC);
    color: #fff;
	transform: translate(0, -10px);
	box-shadow:0px 60px 60px rgba(0,0,0,0.1);
}


.white_title h2{
	color: #fff;
}

.section-title{
	margin-bottom: 60px;
    max-width: 50vw !important;
    width: 66vw;
    padding-right: 0px !important;
	
}

.section-title span {
	font-weight: 500;
	text-transform: capitalize;
	font-size: 16px;
	position: relative;
	width: 100%;
	display: block;
	color: #2904fa;
	margin-bottom: 5px;
}
.section-title h2 {
	font-size: 33px;
	margin-top: 0px;
	line-height: 43px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0;
	
}
.text-green{
	color: #2a7f5c !important;
}

/* Buttons */
.counter-up .counter-item {
    display: inline-block;
    color: #fff;
    margin-right: 30px;
    border-radius: 15px;
}
.slider_btn, 
.main-btn {
	background-image: linear-gradient(25deg,#f3c403,#d6ad03);
	color: #fff;
	padding: 6px 40px;
	font-size: 15px;
	display: inline-block;
	border-radius: 35px;
	transition: .5s;
	font-weight: 700;
}
.slider_btn:hover,
.slider_btn:focus,
.main-btn:hover,
.main-btn:focus{
	background-image: linear-gradient(50deg, #dcb203,#dcb203);
	color: #fff;
	text-decoration: none;
}
img.w-250{
	width: 235% !important;
}
.justify-between{
	justify-content: space-between;
}
.border-green{
	border-color: #2c815f !important;
	
}
.radius-20{
	border-radius:5%;
	padding: 8px;
}

/*START BTN STYLE*/
/* img{
	max-width: 100%;
} */
.pt_30{
	padding-top: 30px!important;
}
.pt_0{
	padding-top: 0!important;
}
.pb_0{
	padding-bottom: 0!important;
}

/*END SECTION OVERLAY*/
/*
* ----------------------------------------------------------------------------------------
* 01.END GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 02. START BOOTSTRAP main-menu OVERRIDES
* ----------------------------------------------------------------------------------------
*/

#navigation{
	padding: 25px 0 20px;
	position: absolute;
	z-index: 11;
	left: 0;
	top: 0;
	width: 100%;
}
.navbar-brand {
	display: block;
	width: 100px;
	margin-top: 10px;
}
.header_right {
	display: flex;
	flex-basis: auto;
}
#main-menu{
	text-align: center;
}
#main-menu ul{
	list-style-type: none;
}
#main-menu ul li {
	display: inline-block;
	position: relative;
	padding: 10px 15px;
}
#main-menu ul li a {
	color: #fff;
	font-weight: 600;
	text-transform: capitalize;
	transition: .5s;
	font-size: 16px;
}

#main-menu ul li a:hover,
#main-menu ul li a:focus{
	color: #2904fa;
}

.slicknav_nav_icon{
	color: #fff;
	font-size: 24px;
}

#mobile_menu{
	display: none;
}
#navigation.navbar-fixed .slicknav_btn .slicknav_nav_icon{
	color: #fff;
}
#navigation.navbar-fixed .small_menu i{
	color: #333;
}
.small_menu{
	list-style-type: none;	
	padding-top: 10px;
}
.small_menu li{
	display: inline-block;
	padding-left: 8px;
}
.small_menu li a{
	display: inline-block;
}
.small_menu li i{
	color: #fff;
	font-size: 15px;
}

.home-slider {
    background-image: url("../img/grey-img.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    /* padding: 80px; */
    background-position-y: 170px;
	background-position-x: right;
	
}
#Mangaing{
	background-image: url("../img/men-img.png");
	background-repeat: no-repeat;
	background-size: 31%;
    background-position: right;
    padding: 80px;
    background-position-y: 255px;
}
#team{
	background-image: url("../img/grey-img.png");
	background-repeat: no-repeat;
	background-size: 50%;
}
.slicknav_nav{
	height: auto;
}
.writen-part {
    position: absolute;
    padding-left: 40%;
}
span.text-yellow{
	margin-left: -7px !important;
	color: #f1c069;
	font-size: larger;
}
.t-yellow{
	
	color: #f1c069;
	
}
img.phinehand {
    width: 150%;
}
/*-------------------------------
# dropdwon menu 
--------------------------------*/

#main-menu ul li ul ,
#main-menu ul li ul li ul {	
	background: #fff;
	box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.08);
	left: 0;
	list-style: outside none none;
	margin:  0;
	opacity: 0;
	padding:10px;
	position: absolute;
	text-align: left;
	top: 100%;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 180px;
	z-index: 999;
	border-radius: 4px;
}
#main-menu ul li  ul li{
	position: relative;
}
#main-menu ul li ul li ul{
	top: 0;
	right: auto;
	left: 205px;
}
#main-menu ul li:hover ul,
#main-menu ul li ul li:hover > ul{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
	visibility: visible;
}
#main-menu ul li ul li {display: block; margin: 0; padding: 0;}
#main-menu ul li ul li a,
#navigation.navbar-fixed #main-menu ul li ul li a
 {
	color: #777;
	display: block;
	font-size: 13px;
	line-height: 30px;
	font-weight: 600;
	padding: 3px 12px;
	position: relative;	
	transition: all 0.3s ease 0s !important;
	visibility: inherit !important;
	opacity: inherit !important;
	text-transform: capitalize;
}

#main-menu ul li:hover ul.sub-menu li a:hover,
#navigation.navbar-fixed #main-menu ul li:hover ul.sub-menu li a:hover{
	color: #444!important;
	background-color: #f2f6fa!important;
	text-decoration: none;
}

.right-menu ul{
	list-style-type: none;
}
.right-menu li a {
	color: #fff;
	font-weight: 600;
	border: 1px solid #dcb203;
	display: inline-block;
	border-radius: 45px;
	padding: 6px 35px;
	font-size: 16px;
}
.border-yellow{
	border-color: #f1c069;
}

/*
* ----------------------------------------------------------------------------------------
* 02.Start Slider
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 02.End Slider
* ----------------------------------------------------------------------------------------
*/

.slider_area{
	position: relative;
}
.slider_area:after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	background: linear-gradient(180deg, #fd03e8 0%, #2904fa 100%);
	border-radius: 5px;
	transform: rotate(-1.05deg);
	width: 100%;
	height: 100%;
	z-index: -1;
}
.slider_area .single-slide img{
	width: 100%;
}
.home-slider{
	padding-top: 140px;
}

.slider_area .slick-arrow {
	width: 40px;
	height: 40px;
	line-height: 52px;
	border: 1px solid #fff;
	display: block;
	border-radius: 50%;
	font-size: ;
	text-align: center;
	z-index: 1;
	background-color: #171D42;
}

.inline-0{
	line-height: 20px ;
}
.slider_area .slick-arrow::before{
	font-size: 16px;;
}
.slider-content{
	color: #fff;
}
.slider-content h2 {
	color: #fff;
	margin-bottom: 15px;
	display: block;
	font-size: 60px;
	line-height: 68px;
}
.slider-content h2 span{
	color: #f1c069;
}
.slider-content p{
	margin-bottom: 5px;
}
.counter-up{
	margin-bottom: 15px;
	margin-top: 45px;
}
.counter-up .counter-item{
	display: inline-block;
	color: #fff;
	margin-right: 30px;
}
.counter-up .counter-item h4 {
	color: #fff;
	margin-bottom: 2px;
	font-size: 27px;
}
.counter-up .counter-item span{
	color: #2904fa;
}
.counter-up .counter-item p{
	text-transform: capitalize;
}
img.w-20 {
    width: 60%;
}


.vid_btn,
.vid_btn:hover,
.vid_btn:focus{
	color: #fff;
	margin-left: 15px;
	font-weight: 500;
}

.slider_area{
	position: relative;
}


.slider-bottom {
	color: #fff;
	background-color: #171D42;
	padding: 20px;
	position: relative;
	margin-top: -10px;
	border-radius: 0 0 4px 4px;
}
.sl_author img{
	margin-right: 5px;
	border-radius: 50%;
}
.slider-bottom h2{
	font-size: 22px;
	color: #fff;
	margin-bottom: 10px;
}
.slider-bottom h3{
	font-size: 19px;
	color: #fff;
	margin-bottom: 10px;
}

.slider-bottom h4{
	color: #fff;
	font-size: 16px;
	margin-bottom: 10px;
}

.sl_reserve{
	text-align:right;
}

.col-lg-6.col-xl-6.bg-gray.card {
    border-radius: 20px;
    padding: 15px;
    margin-top: 40px;
}

/*
* ----------------------------------------------------------------------------------------
* START Partner
* ----------------------------------------------------------------------------------------
*/


.text-start{
	text-align: start !important;
}
.testimonial-slider {
	display: flex;
	overflow: hidden;
  }

  .testimonial-card {
	flex: 0 0 auto;
	width: 50%;
	display: none;
  }

  .testimonial-card.active {
	display: block;
  }

.col-lg-4.col-xl-5.bg-gray.card.ml-4.h-120{
    height: 100% !important;
}
.text-yellow{
	color: #f1c069;
}
.w-60{
	width: 150%;
}
.algin-end{
	align-items: end !important;
}
.section-padding{
	padding: 0px 0;
}
.end.pt-115 {
    padding-top: 195%;
    /* text-align: center; */
    padding-left: 30%;
}
	
.single-partner{
	padding: 24px 20px;
	border-radius: 4px;
}
.mx-auto {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

/*
* ----------------------------------------------------------------------------------------
* Start About
* ----------------------------------------------------------------------------------------
*/

.about_img{
	padding-right: 0px;
}
.about_img img{
	border-radius: 4px;
}
.about_content{
	padding-left: 30px;
}
.about_content .main-btn{
	margin-top: 30px;
}

/*
* ----------------------------------------------------------------------------------------
* END About
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* END Partner
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* END RoadMap
* ----------------------------------------------------------------------------------------
*/

.mb_40{
	margin-bottom: 40px;
}

.single-roadmap{
	position: relative;
	color: #fff;
	display: table;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	
}
.single-roadmap:before{
	background: #1A1A26;
	left: 50%;
	margin-left: -2px;
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	width: 4px;
}
.single-roadmap .number {
	width: 70px;
	height: 70px;
	line-height: 70px;
	background-image: linear-gradient(25deg, #2904fa,#fd03e8);
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 16px;
	position: absolute;
	left: 47%;
	outline: 4px solid #fff;
}
.roadmap-text{
	width: 42%;
	float: right;
	padding: 35px 35px 25px;
	background: linear-gradient(90deg, rgba(53, 16, 192, 0.31) 0%, rgba(217, 217, 217, 0.03) 100%);
	border-radius: 4px;
}
.roadmap-text h3 {
	color: #fff;
	margin-bottom: 10px;
	font-size: 25px;
}
.roadmap-text span {
	position: absolute;
	width: auto;
	left: 38%;
	top: 24px;
	font-size: 16px;
}
.single-roadmap.right span {
	left: 55%;
}
.single-roadmap.right .roadmap-text{
	float: left;
	padding: 35px 35px 20px;
}

.single-roadmap.right .number  {
	right: 47% ;
	left: auto ;
}

/*
* ----------------------------------------------------------------------------------------
* END RoadMap
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* START Auction
* ----------------------------------------------------------------------------------------
*/

.single-auction {
	background-color: #1A1A26;
	color: #fff;
	padding: 10px 10px 5px;
	display: table;
	position: relative;
	border-radius: 4px;
	margin-bottom: 30px;
}
.auction-img{
	position:relative;
}
.auction_like {
	position: absolute;
	top: 12px;
	left: 15px;
}
.auction_time {
	position: absolute;
	bottom: -9px;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	color: #444;
	border-radius: 4px;
	z-index: 1;
	font-size: 14px;
	padding: 0 9px;
	line-height: 21px;
}
.auction_time i{
	color: #2904fa;
}
.auction_like a {
	background-image: linear-gradient(25deg, #2904fa,#fd03e8);
	display: inline-block;
	padding: 0px 10px;
	border-radius: 4px;
	line-height: 22px;
	font-size: 12px;
}
.auction_like,
.auction_like a{
	color: #fff;
}
.auction_like a i{
	padding-right: 3px;
}
.auction-img img{
	border-radius: 4px;
}
.single-auction h3 {
	color: #fff;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 15px;
}
.single-auction h3 a{
	color: #fff;
}
.single-auction .creator{
	float: left;
}
.single-auction .creator img {
	float: left;
	margin-right: 13px;
	margin-top: 8px;
	border-radius: 50%;
}
.single-auction .creator .c_content{
	float: left;
}
.single-auction .creator h4,
.single-auction .place-bid h4 {
	font-size: 15px;
	color: #fff;
}
.creator span,
.place-bid span{
	font-size: 14px;
}

.single-auction .place-bid{
	float: right;
}


/*
* ----------------------------------------------------------------------------------------
* END Auction
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* Start Team
* ----------------------------------------------------------------------------------------
*/
a.text-black.slider_btn.border-radius-50 {
	padding: 12px 17px
}
.border-radius-50{
	border-radius:50%;
}
.col-xl-3.justify-content-end {
    text-align: end;
}
.lh-2{
	line-height: 35px !important;
}
.fa-solid, .fas {
    font-weight: 900;
    font-size: 35px;
    color: grey;
}
span.fa-solid.fs-12 {
    letter-spacing: 7px;
}
.col-xl-11.col-lg-11.col-md-11.mx-auto {
    background: #4f4f4f52;
	width: 100%;
}
.single-team {
    background-color: #4f4f4fe8;
    padding: 16px;
    border-radius: 30px;
    margin-bottom: 30px;
    height: 90%;
	width: 91%;
	margin-left: 28px;
}
.single-team img{
	border-radius: 5px;
}
.single-team h4 {
	color: #fff;
	margin-bottom: 5px;
	font-size: 17px;
	margin-top: 20px;
}
.single-team span {
	margin-bottom: 5px;
	display: block;
	color: #f1c069;
}
.single-team ul{
	list-style-type: none;
}

.single-team ul li {
	display: inline-block;
	padding: 5px;
}

.single-team ul li a{
	color: #fff;
	font-size: 14px;
}
.d-flex.gap-5.py-5.border-bottom {
    border-color: gray !important;
}
.bg-grayy{
	background-color: #4f4f4f4d;
}
section#about {
    padding-top: 10%;
    padding-bottom: 30%;
}
section#doubt {
    padding-top: 10%;
    padding-bottom: 0%;
}
section#aboutt {
    margin-top: -296px;
}
.col-lg-4.col-xl-5.bg-gray.card {
    padding: 40px;
    margin-top: 35px;
	border-radius: 53px
}
.ps{
	font-size: x-small;
}
.align-items-center {
    justify-content: space-around;
}
.bg-gray.card {
    width: 100%;
}
.row.center {
    align-items: center;
}
.pl-5{
	padding-left: 10px !important;
    width: 39vw;
    padding-right: 0px !important;
}
.border-grey{
	border-color
	: grey !important;
}
ul.d-flex.justify-content-end.gap-4 {
    list-style: none;
}
.testimonial-card.active {
    height: 89%;
}

/*
* ----------------------------------------------------------------------------------------
* END Team
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* START Blog
* ----------------------------------------------------------------------------------------
*/

.single-blog{
	position: relative;
	border-radius: 4px;
	margin-bottom: 30px;
}

.single-blog:before{
	content: '';
	position: absolute;
	background: linear-gradient(360deg, #2904fa 0%, rgba(217, 217, 217, 0) 100%);
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	border-radius: 4px;
	opacity: .5;
}
.single-blog img{
	border-radius: 4px;
}
.blog_content{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
}
.blog_meta {
	color: #fff;
	font-size: 14px;
	margin-bottom: 5px;
}
.blog_content a{
	color: #fff;
}
.blog_content h2{
	font-size: 20px;
	margin-bottom: 5px;
}
.blog_btn{
	font-size: 14px;
}

/*
* ----------------------------------------------------------------------------------------
* END Blog
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 18.START FOOTER DESIGN
* ----------------------------------------------------------------------------------------
*/


.footer {
	padding: 100px 0 20px;
	color: #fff;
}
.footer_logo{
	margin-bottom: 15px;
}
.footer-about ul li{
	display: inline-block;
	padding-right: 10px;
}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
	font-size: 20px;
}
.single-footer{
	margin-bottom: 30px;
}
.footer ul{
	list-style-type: none;
}
.footer a{
	color: #fff;
}
.footer-bottom {
	border-top: 1px solid #535355;
	margin-top: 15px;
	padding-top: 20px;
}
.copyright_text p{
	margin-bottom: 0;
}

/* Page Banner */

.page_banner {
	color: #fff;
	padding: 130px 0 100px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}
.page_banner:before{
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, #0A0A0F 0%, rgba(10, 10, 15, 0) 100%);
}
.page_banner .container{
	position: relative;
	z-index: 1;
}
.page_banner h2,
.page_banner a{
	color: #fff;
}

.page_banner ul {
	list-style-type: none;
	background-color: #191926;
	display: inline-block;
	padding: 3px 15px;
	font-size: 14px;
	border-radius: 4px;
}
.page_banner ul li{
	display: inline-block;
	color: #2904fa;
}

/* How IT Work */

.single-work{
	background-color: #191926;
	color: #fff;
	text-align: center;
	padding: 30px;
	border-radius: 4px;
	margin-bottom: 30px;
}
.single-work i{
	font-size: 40px;
	background: -webkit-linear-gradient(50deg, #2904fa,#fd03e8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 20px;
	display: block;
}
.single-work h3{
	font-size: 20px;
	color: #fff;	
}
.single-work p{
	margin-bottom: 0;
}

/* Video Area */

.video-img{
	height: 450px;
	text-align: center;
	position: relative;
	border-radius: 4px;
}
.video_btn{
	background-image: linear-gradient(25deg, #2904fa,#fd03e8);
	width: 65px;
	height: 65px;
	line-height: 65px;
	font-size: 25px;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	transition: .5s;
}
.video_btn:hover,
.video_btn:focus{
	color: #fff;
}

/* Testimonials */

#testimonials .slick-prev{
	left: -50px;
}
#testimonials .slick-prev::before, 
#testimonials .slick-next::before{
	font-size: 16px;
	width: 45px;
	height: 45px;
	line-height: 45px;
	border-radius: 50%;
	background-image: linear-gradient(25deg, #2904fa,#fd03e8);
	display: block;
}
.single-testimonials{
	text-align: center;
	position: relative;
}

.testi_content{
	margin: 15px;		
	padding: 30px;
	border: 1px solid #3D3D3F;
	border-radius: 4px;
	position: relative;
}
.single-testimonials svg {
	position: absolute;
	left: 0;
	bottom:0;
	width: 100%;
}
.testi_content img{
	display: inline-block;
	margin-top: 40px;
	border-radius: 50%;
}
.testi_content h4{
	color: #fff;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 0;
}

.testi_bottom {
	position: relative;
	z-index: 1;
}

/* Why Choose */

.why_choose_content{
	padding-left: 20px;
}
.why_img{
	padding-right: 20px;
}
.why_choose_content ul{
	list-style-type: none;
	margin-bottom: 20px;
}
.why_choose_content ul li {
	position: relative;
	padding-left: 40px;
	line-height: 40px;
}
.why_choose_content ul li::before {
	position: absolute;
	content: '\e64c';
	font-family: themify;
	left: 0;
	top: 9px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 12px;
	border-radius: 50%;
	background-color: #1A1A26;
}
.why_choose_content p{
	margin-bottom: 30px;
}

/* Features */

.feature{
	color: #fff;
	margin-bottom: 30px;
}

.feature i {
	background-image: linear-gradient(25deg, #2904fa,#fd03e8);
	color: #fff;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	float: left;
	margin-right: 25px;
}
.feature .fea_content{
	overflow: hidden;
}
.feature h4{
	color: #fff;
}

/* Chart */


.chart_img{
	padding-left: 15px;
}
.chart_content{
	padding-right: 15px;
}

/* Contact Form */

.contact-area{
	
}

.contact-area h3{
	color: #fff;
	margin-bottom: 30px;
}

.form-control {
	margin-bottom: 30px;
	height: 50px;
	line-height: 50px;
	background-color: #1A1A26;
	border: 1px solid #32323b;
	color: #fff;
	font-size: 14px;
	padding: 10px 15px;
}
textarea.form-control{
	height: 140px;
}
.form-control:focus{
	background-color: #1A1A26;
	border: 1px solid #32323b;
	box-shadow: inherit;
	color: #fff;
	
}

.contact-area input[type="submit"]{
	border: 1px solid transparent;
	display: inline-block;
	width: auto;
}
.contact-area iframe{
	border-radius: 4px;
}

.form-control::-moz-placeholder,
.form-control::-webkit-input-placeholder,
.form-control::placeholder {
	color: #fff;
}
input[type="submit"]{
	border: 1px solid transparent;
}

.map {
      filter: grayscale(50%); 
}
/* Login */

.login-form{
	position: relative;
}
.login-form::after {
	position: absolute;
	content: 'OR';
	width: 70px;
	height: 70px;
	line-height: 70px;
	background-image: linear-gradient(25deg, #2904fa,#fd03e8);
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 15px;
	right: -57px;
	top: 50%;
	transform: translateY(-50%);
}
.login-form,
.register-form{
	background-color: #1A1A26;
	padding: 35px;
	border-radius: 4px;
}

.login-form .check_box,
.register-form .check_box{
	margin-bottom: 15px;
	display: block;
}

.login-form .check_box input[type="checkbox"],
.register-form .check_box input[type="checkbox"]{
	margin-right: 5px;
}

.login-form h3,
.register-form h3,
.register-form a{
	color: #fff;
}

.login-form h3, 
.register-form h3 {
	font-size: 23px;
	margin-bottom: 30px;
}
.login-form label, 
.register-form label {
	margin-bottom: 4px;
	cursor: pointer;
	font-size: 14px;
}
.login-form {
	margin-right: 10px;
}

.register-form {
	margin-left: 10px;
}

/* Thank You */

.thankyou-banner{
	padding: 250px 0;
	color: #fff;
}

.thankyou-banner i{
	width: 70px;
	height: 70px;
	line-height: 70px;
	background: green;
	color: #fff;
	font-size: 40px;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 30px;
}
.thankyou-banner h1{
	color: #fff;
	font-size: 35px;
	margin-bottom:40px;
}
.dropbtn1 {
	/* background: rgb(233,252,159);
background: linear-gradient(90deg, rgba(233,252,159,1) 9%, rgba(166,208,1,1) 51%, rgba(233,252,159,1) 95%); */
	background-color: #f1c069;
    color: black;
	
	padding: 10px 15px ;
	font-size: 16px;
	border: none;
	border-radius: 5px;
  }
  .dropdown1 {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content1 {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content1 a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content1 a:hover {background-color: #ddd;}
  
  .dropdown1:hover .dropdown-content1 {display: block;}
  
  .dropdown1:hover .dropbtn1 {background-color: #f1c069; color: #041758;}
  /* button section :end */
  /* scroll up button */
  #scrollToTopBtn {
	  display: none;
	  position: fixed;
	  bottom: 20px;
	  right: 20px;
	  z-index: 99;
	  font-size: 16px;
	  border: none;
	  outline: none;
	  background-color: #007bff;
	  color: white;
	  cursor: pointer;
	  padding: 15px;
	  border-radius: 5px;
  }

/* .texture {
    background-image: url(https://mukeshtech.com/html//NewAge/img/image2.png);
    background-repeat: no-repeat !important;
    background-size: 32.6%;
    
} */
.sep
{
	padding-bottom: 20px;
}
.leftsep{
	margin-left: 40px;
}
.side{
	padding-left: 50px;
}
section#doubt {
    padding-top: 10%;
    padding-bottom: 0%;
}
section#doubt1 {
    padding-top: 0%;
    padding-bottom: 30%;
}
img.pt-115 {
    padding-top: 80px;
}
/* #aboutt{
	background-image: url("../img/bg-bg.png");
} */
.single-team {
	perspective: 1000px;
	transition: transform 0.5s ease;
}

.rotate-container {
	transform-style: preserve-3d;
}

.rotate-image {
	transition: transform 0.5s ease;
}

.rotate-image:hover {
	transform: rotate(360deg);
}

/* Add any other styling as needed */
.single-team {
	/* Add your styles for the container div */
}

.text-white {
	/* Add your styles for the text */
}

.t-yellow {
	/* Add your styles for the yellow text */
}

